/.backend_venv
/.venv
/.venv3
/.virtual_environment
/.new_virtual_env
/.local_data
/data
/.vscode
/runs
data.zip
thermal/misc/data/data
thermal/misc/data/
backend/proof_of_concept/demo_mount/output/marble_bgsg_retrtree.avi
/misc/data/data
/.conda
/rgb/object_counting_output.avi
/thermal/.venv
/rgb/tmp_runtrain_data.pkl
/thermal/bbv-test-results
/thermal/bbv-test-results2
/rgb/bb_iou_40.pkl
/rgb/bb_iou_50.pkl
/rgb/bb_iou_60.pkl
/rgb/bb_iou_70.pkl
/rgb/bb_iou_80.pkl
/rgb/bb_iou_90.pkl
/thermal/bbv-test-results3
thermal/grouped_bounding_box_crops.zip
